.Footer {
    height: 40px;
    background-color: #3C1A5B;
    color: #FFF748;
    bottom: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
    font-size: 70%;
    width: 100%;
}