.TopPanelHeader {
    height: 60px;
    background-color: #3C1A5B;
    display: flex;
    align-items: center;
    justify-content: center;

}

.TopPanelLinks {
    list-style: none;
    font-weight: bold;
    text-decoration: none;
}

.TopPanelLinks li {
    display: inline;
    padding: 20px;
}

.TopPanelLinks :link {
    color: #FFF748;
    text-decoration: none;
    font-size: 120%;
}

.TopPanelLinks :visited {
    color: #FFF748;
}

.TopPanelLinks :hover {
    color: ghostwhite;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
}

.TopPanelLinks :active {
    color: black;
}

.TopPanelPages {
    background-color: #FFF748;
    height: 100%;
    color: #3C1A5B;
    position: fixed;
    width: 100%;
}
